<div class="container my-4">
    <h1 class="text-center">Gestión de Vehículos</h1>
    <div class="d-flex justify-content-end my-3">
        <button class="btn btn-primary">Añadir Vehículo</button>
    </div>
    <div *ngIf="vehiculos.length > 0; else loading">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Patente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Estado</th>
                    <th>Modificar</th>
                    <th>Ocultar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehiculo of vehiculos; let i = index">
                    <td>{{ vehiculo.patente }}</td>
                    <td>{{ vehiculo.marca | titlecase }}</td>
                    <td>{{ vehiculo.modelo | titlecase }}</td>
                    <td>{{ vehiculo.anno }}</td>
                    <td>{{ vehiculo.estado | titlecase }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm">Modificar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm">Ocultar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #loading>
        <p>Cargando vehículos...</p>
    </ng-template>

</div>